html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
button,
input,
textarea {
  outline: 0;
}

address {
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  overflow-x: hidden;
}

.main {
  overflow-x: hidden;
}

.container {
  font-family: "roboto", sans-serif;
  max-width: 1500px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.section {
  margin: 120px 0;

  &__title {
    color: #252525;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 66px;
    max-width: 1040px;
    margin-bottom: 60px;
  }
}

.fisrt-display {
  height: 100vh;

  &__wrapper {
    background-image: url(../images/fisrt-display-bg.jpg);
    background-position: right;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__block {
    max-width: 710px;
  }

  &__title {
    color: #252525;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 72px;
    line-height: 95px;
    margin-bottom: 20px;
  }


  &__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 31px;
    line-height: 44px;
  }

  &__form {
    margin-top: 75px;
    background-color: #fff;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__input {
    padding: 25px 30px;
    color: #767676;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  &__btn {
    background-color: #C12727;
    padding: 20px 23px;
    margin-right: 5px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__bonuses {
    display: flex;
    align-items: center;
  }

  &__bonuses-img {
    margin-right: 25px;
  }

  &__bonuses-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #252525;
  }
}

.header {
  background-color: #633D3D;
  height: 90px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 170px;
    height: 150px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  max-height: 90px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    border-right: 1px solid #492929;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__list-link {
    font-weight: 300;
    font-size: 18px;
    font-family: 'Roboto';
    line-height: 1.33;
    color: #fff;
    padding: 33px 20px;
  }

  &__phone-link {
    height: 100%;
    display: flex;
    margin-left: 20px;
    align-items: center;
  }

  &__phone-text {
    font-weight: 700;
    font-family: 'PT Serif';
    font-size: 28px;
    line-height: 37px;
    margin-right: 12px;
    color: #fff;
  }

  &__phone-img {
    position: relative;
    top: 5px;
  }
}

.registration-mark {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  &__item {
    width: 460px;
    height: 380px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    max-width: 385px;
    height: 45px;
    padding-left: 25px;
    border-left: 2px solid #F03F3F;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}

.benefits {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 315px;
  }

  &__item-img {
    width: 125px;
    height: 160px;
    margin-bottom: -5px;
    // margin-bottom: -35px;
  }

  &__item-img1 {
    background-image: url('../images/benefites/1.png');
    background-position: center center;
  }

  &__item-img2 {
    background-image: url('../images/benefites/2.png');
    background-position: center center;
  }

  &__item-img3 {
    background-image: url('../images/benefites/3.png');
    background-position: center center;
  }

  &__item-img4 {
    background-image: url('../images/benefites/4.png');
    background-position: center center;
  }

  &__item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 15px;
    color: #252525;
  }

  &__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #252525;
  }
}

.tariffs {
  background-color: #F2F2F2;
  padding: 120px 0;

  .section__title {
    text-align: center;
    max-width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__item:nth-child(1) {
    background-image: url('../images/tariffs/1.png');
    height: 735px;
    background-size: 550px 755px;
  }

  &__item:nth-child(2) {
    background-image: url('../images/tariffs/2.png');
    height: 827px;
    background-size: 550px 880px;
  }

  &__item:nth-child(3) {
    background-image: url('../images/tariffs/3.png');
    height: 520px;
    background-size: 550px 530px;
  }

  &__item {
    width: 460px;
    background-color: #F2F2F2;
    background-size: contain;
    background-position: top center;
    // background-color: #492929;
    // background-size: cover;
    background-repeat: no-repeat;
    // background-position: center center;
  }

  &__item-title {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
    color: #252525;
  }

  &__item-price {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #C12727;
    text-align: center;
  }

  &__item-pricelate {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    text-decoration-line: line-through;
    color: #8E8E8E;
  }

  &__item-list {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 60px;
  }

  &__item-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #252525;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -30px;
      width: 13px;
      height: 13px;
      top: 5px;
      background-image: url('../images/tariffs/check.svg');
    }
  }

  &__btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    background-color: #C12727;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 55px;
    padding: 13px 100px;
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;
  }
}

.plan {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
  }

  &__item {
    width: 300px;
  }

  &__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #252525;
  }

  &__item-btn {
    width: 150px;
    height: 50px;
    background-color: #C12727;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 25px;
  }

  &__item-img {
    width: 125px;
    height: 150px;
    background-position: center center;
    position: relative;

    &::after {
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 26px;
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #C12727;
      right: 10px;
      bottom: 33px;
      border-radius: 50%;
    }
  }

  &__item:nth-child(1) {
    .plan__item-img {
      background-image: url('../images/plan/1.png');

      &::after {
        content: '1';
      }
    }
  }

  &__item:nth-child(2) {
    .plan__item-img {
      background-image: url('../images/plan/2.png');

      &::after {
        content: '2';
      }
    }
  }

  &__item:nth-child(3) {
    .plan__item-img {
      background-image: url('../images/plan/3.png');

      &::after {
        content: '3';
      }
    }
  }

  &__item:nth-child(4) {
    .plan__item-img {
      background-image: url('../images/plan/4.png');

      &::after {
        content: '4';
      }
    }
  }

  &__item:nth-child(5) {
    .plan__item-img {
      background-image: url('../images/plan/5.png');

      &::after {
        content: '5';
      }
    }
  }

  &__item:nth-child(6) {
    .plan__item-img {
      background-image: url('../images/plan/6.png');

      &::after {
        content: '6';
      }
    }
  }

  &__item:nth-child(7) {
    .plan__item-img {
      background-image: url('../images/plan/7.png');

      &::after {
        content: '7';
      }
    }
  }

  &__item:nth-child(8) {
    .plan__item-img {
      background-image: url('../images/plan/8.png');

      &::after {
        content: '8';
      }
    }
  }
}

.test {
  background-image: url('../images/test/test.jpg');
  padding: 65px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__form-file {
    display: none;
  }

  &__form {
    margin-left: auto;
    max-width: 665px;
    max-height: 885px;
    background-color: #F2F2F2;
    border: 7px solid #fff;
    padding: 50px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -95px;
      top: 85px;
      width: 110px;
      height: 2px;
      background-color: #C12727;
    }
  }

  &__form-title {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 66px;
    color: #252525;
    margin-bottom: 45px;
  }

  &__form-input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #767676;
    padding: 18px 25px;
    display: block;
    margin-bottom: 10px;
    width: 450px;
  }

  &__form-label {
    width: 450px;
    height: 60px;
    display: block;
    border: 1px solid #252525;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;

    img {
      margin-right: 5px;
    }
  }

  &__form-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: #C12727;
    padding: 18px 113px;
    margin-bottom: 25px;
  }

  &__form-wrap {
    display: flex;
  }

  &__form-text {
    margin-left: 15px;
    width: 380px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    display: block;
    color: #252525;
    cursor: pointer;
  }

  &__form-checked {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__form-checkbox {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #252525;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 13px;
      height: 2px;
      background-color: #252525;
      top: 8px;
      transform: rotate(-45deg);
      left: 6px;
      transition: .5s;
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background-color: #252525;
      top: 10px;
      transform: rotate(45deg);
      left: 0px;
      transition: .5s;
      opacity: 0;
    }

    &--active {
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }
  }
}

.reviews {
  &__slider-review {
    width: 462px;
    height: 390px;
  }


  &__slider {
    max-width: 1400px;
    margin-left: 60px;
    margin-top: 90px;
    position: relative;
  }

  &__slider-arrow {
    width: 22px;
    height: 65px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__slider-arrow-left {
    background-image: url('../images/left-arrow.svg');
    left: -130px;
  }

  &__slider-arrow-right {
    right: -60px;
    background-image: url('../images/right-arrow.svg');
  }

  &__slider-item {
    display: flex;
    justify-content: space-between;
  }

  &__slider-left {
    max-width: 810px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 120px;
      height: 90px;
      background-image: url('../images/quotes.svg');
      top: -50px;
      left: -80px;
      z-index: -1;
    }
  }

  &__slider-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #252525;
  }

  &__slider-author {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #252525;
    position: relative;
    margin-left: 55px;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 2px;
      left: -55px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #C12727;
    }
  }

  &__list {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    cursor: pointer;
  }
}

.answers {
  background-color: #F2F2F2;
  padding: 120px 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #fff;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F5F5F5 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 20px 50px rgba(48, 13, 13, 0.07);
    cursor: pointer;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 2px;
      right: 20px;
      top: 0;
      background-color: #767676;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  &__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-left: 25px;
    width: fit-content;
    position: relative;
  }

  &__item-text-yotube {
    &::after {
      content: '';
      position: absolute;
      display: block;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/youtube-icon.png');
      width: 25px;
      height: 25px;
    }
  }
}

.footer {
  padding: 80px 0;

  .logo {
    margin-bottom: -35px;

    &__img {
      margin: 0 auto;
    }
  }

  &__wrapper {
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone-link {
    height: 100%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: -15px;
  }

  &__phone-text {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 66px;
    color: #252525;
    margin-right: 15px;
  }

  &__phone-img {
    position: relative;
    top: 10px;
  }

  &__date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #252525;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  &__btn {
    width: 270px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #C12727;
    color: #fff;
    margin: 0 auto;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }

  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #767676;
  }
}